body {
    font-family:Verdana;
    font-size:12px;
}

div.post-image {
    position:relative;
}

.post-form {
    font-family:Tahoma;
    font-size:12px;
}

.spoiler {
    background:darkgray;
    color:darkgray;
}
.spoiler:hover {
    color:white;
}

.zoomable {
    cursor: zoom-in;
}

.zoomed {
    cursor: zoom-out;
    opacity: 0;
}

.zoomed-big {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.3);

}

.zoomed-small {
    border: 1px solid black;
    position: absolute;
}

.post-preview {
    position:absolute;
    max-height:95%;
    float:right;
    overflow:auto;
    width:auto;
    z-index:1;
    opacity: 0.99;
}

.post-actions {
    font-size:11px;
}

.vote-post {
    text-decoration:none;
}

.center {
    text-align:center;
}

#main {
    min-width:50px;
    min-height:50px;
    max-height:200px;
    max-width:200px;
    float:left;
}

#overlay {
    opacity: 0.5;
    position:absolute;
    height:50px;
    width:50px;
    top:0;
    left:0;
    display:none;
}

#menu{
    position:fixed;
    top:3px;
    left:3px;
    z-index:2;
    padding:5px;
    border: 4px double black;
}
#nav_div {
    display:none;
    line-height:80%;
}
#menu:hover #nav_div {
    display:block;
}

.require-js {
    display: none;
}

.post-message {
    word-wrap: break-word;
    max-width: 900px;
    max-height: 500px;
    overflow: auto;
}

.quote {
    float: left;
    background: #FFFFFF;
    border:1px solid darkgray;
    font-family:Verdana;
    font-size:10px;
    text-align:left;
    padding: 5px 10px 5px 10px;
    margin-bottom:0px;
    margin-left:10px;
}