a.anew:visited {color:#939393;}

div.post-image {
    position:relative;
}

.spoiler {
    background:darkgray;
    color:darkgray;
}
.spoiler:hover {
    color:white;
}

#welcome-message {
    width:900px;
    padding:10px;
    border:2px ridge black;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#welcome-message-spoiler {
    background-color:gray;
    color:green;
    text-align:center;
    width:300px;
    min-height:15px;
}

#main {
    min-width:50px;
    min-height:50px;
    max-height:200px;
    max-width:200px;
}

#overlay {
    opacity: 0.5;
    position:absolute;
    height:50px;
    width:50px;
    top:0;
    left:0;
    display:none;
}

#menu {
    position:fixed;
    top:3px;
    left:3px;
    z-index:2;
    padding:5px;
    border: 4px double black;
}

.require-js {
    display: none;
}