{% extends 'layout.html' %}
{% block content %}
<script type="text/javascript">
    function submit_captcha(ans)
    {
        $.getJSON($SCRIPT_ROOT + '/captcha', {
            c: ans
        }, function(data){
            location.reload();
        });
    }
</script>
<table>
    <tr><td><img src="{{ url_for('captcha.get_captcha_img') }}" align='left'></td><td>
    {% set i = 0 %}
    {%- for c in names -%}
    &nbsp;<input type="radio" name="ans" onclick="submit_captcha('{{ c }}');"> {{ c }}
    {% if i == 2 %}
        <br><br>
        {% set i = 0 %}
    {% else %}
        {% set i = i + 1 %}
    {% endif %}
    {%- endfor -%}</td>
    {# <br><br>&nbsp; <input type='radio' name='word' value='Эйнштейн' onClick='javascript:submit();'> Эйнштейн
    &nbsp; <input type='radio' name='word' value='Жириновский' onClick='javascript:submit();'> Жириновский
    &nbsp; <input type='radio' name='word' value='хохол' onClick='javascript:submit();'> хохол
    <br><br> &nbsp; <input type='radio' name='word' value='членодевка' onClick='javascript:submit();'> членодевка
    &nbsp; <input type='radio' name='word' value='Медведев' onClick='javascript:submit();'> Медведев
    &nbsp; <input type='radio' name='word' value='поехавший' onClick='javascript:submit();'> поехавший
    <br><br> &nbsp; <input type='radio' name='word' value='сало' onClick='javascript:submit();'> сало
    &nbsp; <input type='radio' name='word' value='Пистон' onClick='javascript:submit();'> Пистон
    &nbsp; <input type='radio' name='word' value='даун' onClick='javascript:submit();'> даун #}
    </tr></table>
{% endblock %}