{% extends 'layout.html' %}
{% block content %}
    <title>Галерея - {{ config.SITE_NAME }}</title>
    {% if posts.has_next or posts.has_prev %}
        {% for page in posts.iter_pages(left_edge = 15, right_edge = 15) %}
            {% if page %}
                {% if page != posts.page %}
                    <a href="{{ baseurl }}{{ page }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {% endfor %}
    {% endif %}
<table align='center'>
    <tr><td>
        {% set i = 0 %}
        {%- for p in posts.items -%}
            <img src="{{ url_for('getimage', filename=p.thumb, randid=0) }}" onclick="img_on_click(this, '{{ url_for('getimage', randid=p.randid, filename=p.image) }}');" max-width=200 max-height=200>
            {% if i == 6 %}
                <br><br>
                {% set i = 0 %}
            {% else %}
                {% set i = i + 1 %}
            {% endif %}
        {%- endfor -%}</td>
    </tr>
</table>
{% endblock %}