{% extends 'layout.html' %}
{% block content %}
    <title>Галерея - {{ config.SITE_NAME }}</title>
    {% block pagination %}<div align="center"><h2>{% include 'pagination.html' %}</h2></div>{% endblock %}
<table align='center'>
    <tr><td>
        {% for p in posts.items %}
		&nbsp;
            <img id="main" src="{{ url_for('getimage', filename=p.thumb, randid=0) }}" onclick="img_on_click(this, '{{ url_for('getimage', randid=p.randid, filename=p.image) }}');">
			<a href="{{ url_for('viewpost', postid=p.id) }}">#</a>
        {%- endfor -%}</td>
    </tr>
</table>
    {{ self.pagination() }}
{% endblock %}