{% extends "layout.html" %}

{% block head %}
<title>{{ config.SITE_NAME }}</title>
<script type="text/javascript">$(function(){
    $('#welcome-message').hide().mouseout(function(){
        $('#welcome-message-spoiler').fadeTo(1, 1);
        $(this).hide('slow');
    });
    $('#welcome-message-spoiler').mouseover(function(){
        $('#welcome-message').show();
        $(this).fadeTo('fast', 0.2);
    });
});</script>
{% endblock %}

{% block content %}
<center><img src="{{ url_for('static', filename='headerpic.png') }}">
<div id="welcome-message-spoiler" class="require-js">Описание</div>
<p id="welcome-message">
    {% include 'welcome_message.html' %}
</p>

<h2>Разделы:</h2>
<h3>
    {% for key, value in sections.iteritems() %}
    {% if not config.HIDDEN_BOARDS or key not in config.HIDDEN_BOARDS %}
    <a href="/boards/{{ key }}">{{ value }}</a><br>
    {% endif %}
    {% endfor %}
</h3>
<h2>Прочее:</h2>
<h3>
    <a href="{{ url_for('allsections') }}">Поток</a><br>
    <a href="{{ url_for('gallery') }}">Галерея</a>
</h3>

</center>
{% endblock %}