<!DOCTYPE html>
<html lang='ru'>
    <head>
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
        {% if not session.crawler %}
        {{ fujs.js }}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        {% if session.admin %}
            <script defer type="text/javascript" src="{{ url_for('static', filename='admin.js') }}"></script>
        {% endif %}
        {% assets "js_main" %}
            <script defer type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% if not session.fingerprint %}
            {% assets "js_fingerprint" %}
            <script async type="text/javascript" src="{{ ASSET_URL }}"></script>
            {% endassets %}
        {% endif %}
        {% assets "css_main" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
        <link id="theme" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/default.css') }}">
        {% endif %}
        <meta charset='utf-8'>
        <meta name="description" content="{{ config.SITE_NAME }}: анонимная имидж-борда на собственном движке со свистелками, перделками и социоблядством."/>
        <meta name="keywords" content="{{ config.SITE_NAME }}{% if config.KEYWORDS %}, {{ config.KEYWORDS }}{% endif %}"/>
        {% if SecName %}<meta property="article:section" content="{{ SecName }}" />{% endif %}
        {% if mainpost %}<meta property="article:published_time" content="{{ mainpost.time }}" />{% endif %}
        {% if mainpost and mainpost.last_answer %}<meta property="article:modified_time" content="{{ mainpost.last_answer }}" />{% endif %}
        {% block head %}{% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }} </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div id="content">
            {% include 'menu.html' %}
            {% block content %}{% endblock %}
        </div>
  </body>
</html>