<!DOCTYPE html>
<html lang='ru'>
<head>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    {% if not session.crawler %}
    {{ fujs.js }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    {% assets "js_main" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% if not session.fingerprint %}
        <script type="text/javascript">
            $(function(){
                {% assets "js_fingerprint" %}
                    $.getScript('{{ ASSET_URL }}');
                {% endassets %}
            });
        </script>
    {% endif %}
    {% if session.admin %}
        <script type="text/javascript" src="{{ url_for('static', filename='admin.js') }}"></script>
    {% endif %}
    {% assets "css_main" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    <link id="theme" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='themes/default.css') }}">
    {% endif %}
    <meta charset='utf-8'>
    <meta name="description" content="{{ config.SITE_NAME }}: анонимная имидж-борда на собственном движке со свистелками, перделками и социоблядством."/>
    <meta name="keywords" content="{{ config.SITE_NAME }}{% if config.KEYWORDS %}, {{ config.KEYWORDS }}{% endif %}"/>
    {% if SecName %}<meta property="article:section" content="{{ SecName }}" />{% endif %}
    {% if mainpost %}<meta property="article:published_time" content="{{ mainpost.time }}" />{% endif %}
    {% if mainpost and mainpost.last_answer %}<meta property="article:modified_time" content="{{ mainpost.last_answer }}" />{% endif %}
  </head>
    <BODY bgcolor="#F7F7F7" text="#000000" link="#000000" vlink="#000000" alink="#000000" style="font-family:Verdana;font-size:12px">
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

	<div id="content" style="">
        {% include 'menu.html' %}
        {% block content %}{% endblock %}
	</div>

  </body>
</html>