<!DOCTYPE html>
<html lang='ru'>
<head>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>
    <script type="text/javascript" src="{{ url_for('static', filename = 'jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'swfobject-2.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'evercookie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'fingerprint.js') }}"></script>
    <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='jsfunctions.js') }}"></script>
    <script type="text/javascript">
        function body_onload()
        {
            {%- if not session.fingerprint -%}
            set_fp();
            {%- endif -%}
            {%- if setid -%}
            set_ec({{ setid }});
            {%- elif not session.uid -%}
            get_ec();
            {%- endif -%}
            return true;
        }
    </script>
    <style type="text/css">
        a.anew:visited {color:#939393;}
        .quote { background: #FFFFFF; border:1px solid darkgray; font-family:Verdana;font-size:10px;text-align:left; padding: 5px 10px 5px 10px; margin-bottom:0px;margin-left:10px;}
    </style>
    <meta charset='utf-8'>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  </head>
    <BODY onload="body_onload();" bgcolor="#F7F7F7" text="#000000" link="#000000" vlink="#000000" alink="#000000" style="font-family:Verdana;font-size:12px">
	{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
	<div id="content" style="">
	<!-- <div id="in_the_middle_of_page"> -->
    {% block content %}{% endblock %}
	</div>
  </body>
</html>