<div id="menu" onmouseover='menu_over();' onmouseout='menu_out();'>
<b>Меню</b>
<div id='nav_div' style='display:none;line-height:80%'>
<h3><a href="{{ url_for('index') }}">Главная страница</a></h3>
<hr>
{% for key, value in config.SECTIONS.iteritems() %}
    {% if not config.HIDDEN_BOARDS or key not in config.HIDDEN_BOARDS %}
        <h3><a title="{{ value }}" href="{{ url_for('section', SectionName=key) }}">{{ value }}</a></h3>
    {% endif %}
{% endfor %}
<hr>
<h3><a href="{{ url_for('allsections') }}">Поток</a></h3>
<h3><a href="{{ url_for('gallery') }}">Галерея</a></h3>
<hr>
{#<h3><a href='/inbox'>Мои инбоксы</a></h3>#}
<h3><a href="{{ url_for('mythreads') }}">Мои последние треды</a></h3>
<h3><a href="{{ url_for('answers') }}">Мне отвечают</a></h3>
{% if session.favorites %}
<h3><a href='{{ url_for('favorites') }}'>Моё избранное ({{ session.favorites|length }})</a></h3>
{% endif %}
<hr>
    <select id="theme-select" style="display: none;">
        {% for theme in config.THEMES %}
        <option value="{{ theme.file }}"{% if theme.get('default') %} selected{% endif %}>{{ theme.name }}</option>
        {% endfor %}
    </select>
<h4><input type="checkbox" id="always-show-postform"><label for="always-show-postform">Всегда показывать форму отправки</label></h4>
{% if session.hidden %}
<h4><a href="#" onclick="unhide_threads();">Показать скрытые треды ({{ session.hidden|length }})</a></h4>
{% endif %}
{% if session.admin %}
<h4><a href="#" id="admin-clear-cache">[ADMIN] Очистить кэш сервера</a></h4>
{% endif %}
</div>
</div>