{% if posts.has_next or posts.has_prev %}
    <span style="font-weight:bold;">Страницы: </span>
    {% for page in posts.iter_pages(left_edge = 15, right_edge = 15) %}
        {% if page %}
            {% if page != posts.page %}
                <a class="page-jump" href="{{ baseurl }}{{ page }}">{{ page }}</a>
            {% else %}
                <span style="font-weight:bold; color:red;">{{ page }}</span>
            {% endif %}
        {% else %}
            <span>…</span>
        {% endif %}
    {% endfor %}
{% endif %}