{% if mainpost and mainpost.id == p.id %}
    {% set post_class = 'post-main' %}
{% elif p.rating < 0 and not config.DISABLE_RATING %}
    {% set post_class = 'post-bad' %}
{% else %}
    {% set post_class = 'post-common' %}
{% endif %}

<br><br><a name="t{{ p.id }}"></a><table oncontextmenu="copy_selection();" id="tbl{{ p.id }}" align='center' id="p{{ p.id }}" class="post {{ post_class }}"><tr><td colspan='2'><div id="cd{{ p.id }}" style='overflow:hidden;'>
    {% if p.title %}
        <b>{{ p.title|escape }}</b><br>
    {% endif %}
    {% if p.image != '' %}
        {# <a href="{{ url_for('getimage', randid=p.randid, filename=p.image) }}"> #}
        <div class="post-image">
            <img id="main" src="{{ url_for('getimage', randid=p.randid, filename=p.thumb) }}" {% if p.randid == 0 %} onclick="img_on_click(this, '{{ url_for('getimage', randid=p.randid, filename=p.image) }}');" {% endif %} style='float:left;{% if p.randid == 0 %}cursor: pointer;{% endif %}' HSPACE='5'/>
            <img id="overlay" src="{{ url_for('static', filename='wait.gif') }}"/>
        </div>
        {# </a> #}
    {% endif %}
    {{ p.message|message|ext_urls|safe }}</div></td></tr><tr><td height='10px'></td></tr>
    <tr><td style='font-size:11px;'>[<a href="/view/{{ p.id }}"{% if session.admin %} title="{{ p.user_id }} {{ p.from_ip }}"{% endif %}>#{{ p.id }}</a>] {{ p.time.strftime('%d %B %Y %H:%M:%S').decode('cp1251') }}
    {% if (form and form.parent.data != '0') or mainpost %}
        {% if p.user_id == mainpost.user_id %}
        <a href="{{ url_for('semeno_detector', postid=p.id) }}" rel='nofollow'><b>ОП</b></a>
        {% else %}
        <a href="{{ url_for('semeno_detector', postid=p.id) }}" rel='nofollow'><img src="{{ url_for('static', filename='det.gif') }}" border='0'></a>
        {% endif %}
    {% endif %}
    {% if p.randid > 0 %}
    R{{ p.randid }}&nbsp;
    {% endif %}
    {% if show_answer_to or (p.answer_to != 0 and (mainpost and p.answer_to != mainpost.id)) %}
    {% if (mainpost and p.answer_to == mainpost.id) or (page_posts and p.answer_to in page_posts) %}
    <a href="#t{{ p.answer_to }}" onclick='highlight("{{ p.answer_to }}");'>на что?</a> &nbsp;
    {% else %}
    <a href="{{ url_for('viewpost', postid=p.answer_to) }}" onclick='highlight("{{ p.answer_to }}");'>на что?</a> &nbsp;
    {% endif %}
    {% endif %}

    {% if p.parent == 0 and not mainpost %}
        <b>[<a class='anew' href='{{ url_for('view', postid=p.id) }}#{{ p.answers }}'>Ответов: {{ p.answers }}</a>]</b>
        &nbsp;<img id="fav{{ p.id }}" title="В избранное"
        {% if p.id not in session.favorites %}
        src="{{ url_for('static', filename='fav.png') }}"
        {% else %}
        src="{{ url_for('static', filename='unfav.png') }}"
        {% endif %}
        onclick="add_to_favorites({{ p.id }})">
        <img src="{{ url_for('static', filename='hide.png') }}" onclick="hide_post({{ p.id }});" title="Скрыть">
    {% else %}
    <a href="{{ url_for('view', postid = p.id) }}">Ответить</a>&nbsp;
    {% endif %}
    {% if not config.DISABLE_RATING %} Рейтинг: <span id="rt{{ p.id }}">{{ p.rating }}</span>
    {% if session.admin or (session.canvote and p.user_id != session.uid) %}
        <span id="voting_{{ p.id }}"><a id="vt1_{{ p.id }}" href="javascript:submit_vote({{ p.id }}, 1);" style='text-decoration:none'>[+]</a> <a id="vt2_{{ p.id }}" href="javascript:submit_vote({{ p.id }},-1);" style='text-decoration:none'>[-]</a></span>
    {% endif %}
	{% endif %}
	
    {% if session.admin or (session.can_delete and p.id in session.can_delete) %}
        &nbsp;<a href="{{ url_for('postdel', postid=p.id) }}">[Удалить]</a>
    {% endif %}
    {% if show_section %}
        &nbsp; {{ config.SECTIONS[p.section] }}
    {% endif %}
    {% if session.admin %}
        <a href="javascript:ban({{ p.user_id|tojson }});">[бан]</a>
        <a href="javascript:delall({{ p.user_id|tojson }});">[удалить все посты]</a>
        <a href='javascript:delall_ip({{ p.from_ip|tojson }});'>[удалить все посты (IP)]</a>
        {% if p.parent == 0 %}
        <a id="transfer_{{ p.id }}" href="javascript:transfer({{ p.id|tojson }});">[перенести]</a>
        <a href="javascript:pin({{ p.id|tojson }});">[закрепить]</a>
        <a href="javascript:unpin({{ p.id|tojson }});">[открепить]</a>
        {% endif %}
    {% endif %}
    </td>{# <td align='right' style='font-size:11px;'><a href="{{ url_for('report', post_id=p.id) }}" target='_blank' rel='nofollow'>[Abuse]</a></td> #}</tr></table>