<div>
<div class="center"><button class="post-form-show" style="display: none;">Показать форму отправки</button></div>
<table width='850' align="center" class="post-form">
	<tr><td>
		<table width=700 align=center>
			<form name="form1" id="form1" method="post" action="{{ url_for('post') }}" enctype="multipart/form-data">
				{{form.hidden_tag()}}
				<tr valign=top>
				<tr><td width='140px'>Заголовок:<br><span style='font-size:8px'>(опционально)</span></td><td>
				{{ form.title(size='40', maxlength='100') }}
				{#<input name="title" type="text" id='title' size='40' maxlength=79> #}
				{% if mainpost %}
				{{ form.sage }}Не поднимать
				{% endif %}
				{{ form.commit(value='Запостить') }}

				{{ form.parent }}
				{{ form.answer_to }}
				{{ form.section }}
				<tr><td width='140px'>Сообщение:<br>
				</td>
					<td>
						{{ form.msg(cols='60', rows='8') }}
						{# <textarea name="msg" id="datafield" cols="60" rows="8" onfocus='form1.commit.disabled=false;'></textarea> #}
					</td></tr>
				<td width='140px'>
					Изображение:<br>
					Не больше 2х мегабайт.
				</td>
				<td>{{ form.img }}
					{{ form.ins_random(class="ins_random") }}
					<br>
					<b><u>Разрешенные типы файлов: JPG,JPEG,GIF,PNG,BMP,TIFF</u></b>
					<br>Или URL картинки сюда: {{ form.img_url(size='50') }}
					{# <input type='text' name='img_url' value='' size='50'> #}
					<br></td></tr>
			</form>
		</table>
	</td></tr>
</table></div>