{% if not ajax %}
{% extends "layout.html" %}
{% endif %}
{% block content %}
{% if mainpost and mainpost.title %}
    {% set title = mainpost.title %}
{% elif mainpost and mainpost.message %}
    {% set title = mainpost.message[:40] %}
{% elif SecName %}
    {% set title = SecName + ' - ' + config.SITE_NAME %}
{% else %}
    {% set title = config.SITE_NAME %}
{% endif %}
    <center><h2>{{ title }}</h2></center>
    <title>{{ title }}</title>

    <center><h3>{% if form and form.parent.data != '0' %}
<a href="{{ url_for('section', SectionName = form.section.data) }}">В корень раздела</a>
{% if mainpost.parent != 0 %}
&nbsp; <a href="{{ url_for('viewpost', postid = mainpost.id) }}">В корень треда</a>
{% endif %}
{% else %}
<a href="{{ url_for('index') }}">На главную</a>
{% endif %} </h3>
</center>
    <hr width="90%" size=1>
    {% if not session.fingerprint or not session.uid %}
        <center><h3>Включите javascript для возможности отправлять сообщения</h3></center>
    {% elif form %}
        {% include 'postform.html' %}
    {% endif %}
    <script type="text/javascript">
        var ajax_data = {
            endpoint: '{{ request.endpoint }}'
            {% if posts and posts.page %}, page: {{ posts.page }}{% endif %}
            {% if mainpost %}, postid: {{ mainpost.id }}{% endif %}
        };
    </script>
    <div align="center"><h3><a href="#" id="auto-reload" onclick="change_auto_refresh();"></a></h3></div>
    <div id="posts">{% include 'posts.html' %}</div>
{% endblock %}