{% extends "layout.html" %}
{% block content %}
{% if mainpost and mainpost.title %}
    {% set title = mainpost.title %}
{% elif mainpost and mainpost.message %}
    {% set title = mainpost.message[:40]|safe %}
{% elif SecName %}
    {% set title = SecName + ' - ' + config.SITE_NAME %}
{% else %}
    {% set title = config.SITE_NAME %}
{% endif %}
    <center><img src="{{ url_for('static', filename='refresh.png') }}" height=40 width=40 id="auto-reload" style="display: none;"> <h2>{{ title }}</h2></center>
    <div style="text-align: center" id="last-refresh"></div>
    <title>{{ title }}</title>

{% block navigation %}
<center><h3>{% if (form and form.parent.data != '0') or mainpost %}
<a href="{{ url_for('section', SectionName = form.section.data if form else mainpost.parent) }}">В корень раздела</a>
{% if mainpost.parent != 0 %}
&nbsp; <a href="{{ url_for('viewpost', postid = mainpost.id) }}">В корень треда</a>
{% endif %}
{% else %}
<a href="{{ url_for('index') }}">На главную</a>
{% endif %} </h3>
</center>
{% endblock %}
    {% block postform %}
        {% if not session.fingerprint or not session.uid %}
            <center><h3>Включите javascript для возможности отправлять сообщения</h3></center>
        {% elif session.crawler %}
            {% if config.SITE_NAME %}<center><h1>{{ config.SITE_NAME }}</h1></center>{% endif %}
            {% if config.KEYWORDS %}<center><h2>{{ config.KEYWORDS }}</h2></center>{% endif %}
        {% elif form %}
            <hr width="90%" size=1>
            {% include 'postform.html' %}
            <hr width="90%" size=1>
        {% endif %}
        <br>
    {% endblock %}
    <script type="text/javascript">
        var ajax_data = {
            endpoint: {{ request.endpoint|tojson }},
            baseurl: {{ baseurl|tojson }}
            {% if posts and posts.page %}, page: {{ posts.page|tojson }}{% endif %}
            {% if mainpost %}, postid: {{ mainpost.id|tojson }}{% endif %}
            {% if show_section %}, show_section: {{ show_section|tojson }}{% endif %}
            {% if show_answer_to %}, show_answer_to: {{ show_answer_to|tojson }}{% endif %}
            {% if section %}, section: {{ section|tojson }}{% endif %}
        };
    </script>
    <div id="posts">{% include 'posts.html' %}</div>
    {{ self.postform() }}
    {{ self.navigation() }}
{% endblock %}