{% extends "layout.html" %}
{% block content %}
{% if mainpost and mainpost.title %}
    {% set title = mainpost.title %}
{% elif mainpost and mainpost.message %}
    {% set title = mainpost.message[:40] %}
{% elif SecName %}
    {% set title = SecName + ' - ' + config.SITE_NAME %}
{% else %}
    {% set title = config.SITE_NAME %}
{% endif %}
    <center><h2>{{ title }}</h2></center>
    <title>{{ title }}</title>

    <center><h3>{% if form and form.parent.data != '0' %}
<a href="{{ url_for('section', SectionName = form.section.data) }}">В корень раздела</a>
{% if mainpost.parent != 0 %}
&nbsp; <a href="{{ url_for('viewpost', postid = mainpost.id) }}">В корень треда</a>
{% endif %}
{% else %}
<a href="{{ url_for('index') }}">На главную</a>
{% endif %} </h3>
</center>
{# <form action="/post" method="post" name="post" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <center><table border="0">
        <tr><td>Заголовок:</td><td>{{form.title}}</td></tr>
        <tr><td>Сообщение:</td><td>{{form.msg}}</td></tr>
        <tr><td>Изображение:</td><td>{{form.img}}</td></tr>
        {{ form.parent }}
        {{ form.section }}
    </table>
    <input id="commit" type="submit" value="Отправить" name="commit"></center>
</form>
    <hr> #}
    <hr width="90%" size=1>
    {% if not session.fingerprint or not session.uid %}
        <center><h3>Включите javascript для возможности отправлять сообщения</h3></center>
    {% elif form %}
        {% include 'postform.html' %}
    {% endif %}

{% if mainpost %}
    {% set p = mainpost %}
    {% include 'post.html' %}
{% endif %}
{% for p in posts.items if not session.hidden or p.id not in session.hidden %}
    {% include 'post.html' %}
{% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
<br><center><h2>
{% if posts.page %}
{% for page in posts.iter_pages() %}
    {% if page != posts.page %}
        <a href="{{ baseurl }}{{ page }}">{{ page }}</a>
    {% else %}
        <strong>{{ page }}</strong>
    {% endif %}
{% endfor %}
{% endif %}
</h2></center>
{% endblock %}