body {
    background-color: #303030;
    color: #C2C2C2;
}

a {
    color: #B0B0B0;
}

.post {
    font-size:13px;
    border: 1px solid gray;
    width: 900px;
}

.post-main {
    background-color:#003300;
}

.post-bad {
    background-color:#660000;
}

.post-common {
    background-color:#3D3D3D;
}

.post-highlighted {
    color: #1A1A1A;
    background-color: #EADC62;
}

.quote {
	background: #636363;
	border:1px solid darkgray;
	font-family:Verdana;
	font-size:10px;
	text-align:left;
	padding: 5px 10px 5px 10px;
	margin-bottom:0px;
	margin-left:10px;
}