body {
    background-color: #303030;
    color: #C2C2C2;
}

a {
    color: #B0B0B0;
}

a.anew:link {
	color: #CCFF99;
}

.post {
    font-size:13px;
    border: 1px solid gray;
    width: 900px;
}

.post-main {
    background-color:#001A00;
}

.post-bad {
    background-color:#660000;
}

.post-common {
    background-color:#3D3D3D;
}

.post-highlighted {
    color: #1A1A1A;
    background-color: #EADC62;
}