.post {
    font-size:13px;
    border: 1px solid gray;
    width: 900px;
}

.post-main {
    background-color:#CCEECC;
}

.post-bad {
    background-color:#FFCCCC;
}

.post-common {
    background-color:#E6E6E6;
}

.post-highlighted {
    background-color: #F0E68C;
}