body {
    background-color: #F7F7F7;
    color: #000000;
}
a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
a:active {
    color: #000000;
}
a.anew:visited {
    color:#939393;
}

.post {
    font-size:13px;
    border: 1px solid gray;
    width: 900px;
    height: auto;
}

.post-main {
    background-color:#CCEECC;
}

.post-bad {
    background-color:#FFCCCC;
}

.post-common {
    background-color:#E6E6E6;
}

.post-highlighted {
    background-color: #F0E68C;
}